h2 {
    margin: 0rem;
  }
body {
    background:green;
}
  div.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:green;
  }

  button {
    padding: 0.5rem;
    background-color:red;
  }
  #top_up {
    padding: 0.5rem;
    background-color:blue;
  }
  #transfer {
    padding: 0.5rem;
    background-color:blue;
  }
